.container-d{
    min-height: auto;
    margin-top: 10rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.d-one{
    background-image: url('../../assets/logo.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    overflow: hidden;
    
}
.d-two{
    min-width: auto;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.d-two-one{
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.d-two-one span{
    color: #d90429;
    text-align: center;
}
.d-two-one h3{
    font-size: 2rem;
    text-align: center;
}
.p-d{
    font-size: 1.5rem !important;
}
.d-two-two{
    min-height: 15rem;
    min-width: 70rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    color: #ffffff;
    position: relative;
    background-image: url('../../assets/seat1.jpg');
    background-position: center;
    background-size: cover;
}
.cards{
    position: absolute;
    top: 12rem;
    padding-left: 7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    height: auto;
    width: 100%;

}
.card-services{
    background-color: black;
    min-height: 9rem;
    width: 20rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    animation: up 3s ease-in-out infinite;
}
    .span-d, .p-d, .h3-d{
        overflow: hidden;
    }
@keyframes up {
    0% {
      transform: translateY(0); /* Começa na posição original */
    }
    50% {
      transform: translateY(-2rem); /* Sobe 20px */
    }
    100% {
      transform: translateY(0); /* Volta para a posição original */
    }
  }
  
.card-services img{
    width: 3rem;
}
@media(min-width: 2000px) and (max-width: 2560px) {
    .d-two-two{
        height: 30rem ;
        width: 90rem;
        border-radius: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        color: #ffffff;
        position: relative;
        background-image: url('../../assets/seat1.jpg');
        background-position: center;
        background-size: cover;
    }
     .d-two-one span{
         font-size: 2rem;
         text-align: center;
         color: #d90429;
     }
     .d-two-one h3{
         font-size: 3rem;
         margin-top: 2rem;
         margin-bottom: 2rem;
         text-align: center;
     }
     .d-two-one p{
         text-align: center;
         font-size: 2rem !important;
     }
     .d-two-two{
         min-height: 15rem;
         min-width: 18rem;
         border-radius: 1rem;
         margin-bottom: 0rem;
 
     }
     .cards{
         position: absolute;
         top: 25rem;
         padding: 0;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         gap: 3rem;
         height: auto;
     
     }
     .card-services{
         width: 20rem;
         font-size: 1.5rem;
         display: flex;
         text-align: center;
     }
     
 }
 @media(min-width: 1024px) and (max-width: 1440px) {
    .container-d{
     margin-bottom: 0rem;
     margin-top: 3rem;
    }
     .d-two-one span{
         font-size: 1rem;
         text-align: center;
         color: #d90429;
     }
     .d-two-one h3{
         font-size: 2rem;
         margin-top: 2rem;
         margin-bottom: 2rem;
         text-align: center;
     }
     .d-two-one p{
         text-align: center;
         font-size: 1.3rem !important;
     }
     .d-two-two{
         min-height: 15rem;
         min-width: 18rem;
         border-radius: 1rem;
         margin-bottom: 13rem;
 
     }
     .cards{
         position: absolute;
         top: 12rem;
         padding: 0;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         gap: 3rem;
         height: auto;
     
     }
     .card-services{
         width: 10rem;
         font-size: 1rem;
         display: flex;
         text-align: center;
     }
     
 }
@media(min-width: 768px) and (max-width: 1024px) {
    .container-d{
     margin-bottom: 0rem;
     margin-top: 3rem;
    }
     .d-two-one span{
         font-size: 1rem;
         text-align: center;
         color: #d90429;
     }
     .d-two-one h3{
         font-size: 2rem;
         margin-top: 2rem;
         margin-bottom: 2rem;
         text-align: center;
     }
     .d-two-one p{
         text-align: center;
         font-size: 1.3rem !important;
     }
     .d-two-two{
         min-height: 15rem;
         min-width: 18rem;
         border-radius: 1rem;
         margin-bottom: 13rem;
 
     }
     .cards{
         position: absolute;
         top: 12rem;
         padding: 0;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         gap: 3rem;
         height: auto;
     
     }
     .card-services{
         width: 10rem;
         font-size: 1rem;
         display: flex;
         text-align: center;
     }
     
 }
@media(min-width: 425px) and (max-width: 768px) {
   .container-d{
    margin-bottom: 25rem;

   }
    .d-two-one span{
        font-size: 1rem;
        text-align: center;
        color: #d90429;
    }
    .d-two-one h3{
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .d-two-one p{
        text-align: center;
    }
    .d-two-two{
        min-height: 15rem;
        min-width: 18rem;
        border-radius: 1rem;
        margin-bottom: 13rem;

    }
    .cards{
        position: absolute;
        top: 20rem;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
        height: auto;
    
    }
    .card-services{
        width: 17rem;
        font-size: 1rem;
    }
    
}
@media(min-width: 375px) and (max-width: 425px) {
   
    .d-two-one span{
        font-size: 1rem;
        text-align: center;
        color: #d90429;
    }
    .d-two-one h3{
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .d-two-one p{
        text-align: center;
    }
    .d-two-two{
        min-height: 15rem;
        min-width: 18rem;
        border-radius: 1rem;
        margin-bottom: 13rem;

    }
    .cards{
        position: absolute;
        top: 20rem;
        padding: 0;
        
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        height: auto;
    
    }
    .card-services{
        width: 17rem;
        font-size: 1rem;
    }
    
}

@media(min-width: 320px) and (max-width: 375px) {
   
    .d-two-one span{
        font-size: 1rem;
        text-align: center;
        color: #d90429;
    }
    .d-two-one h3{
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .d-two-one p{
        text-align: center;
    }
    .d-two-two{
        min-height: 15rem;
        min-width: 18rem;
        border-radius: 1rem;
        margin-bottom: 13rem;

    }
    .cards{
        position: absolute;
        top: 20rem;
        padding: 0;
        
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        height: auto;
    
    }
    .card-services{
        width: 17rem;
        font-size: 1rem;
    }
    
}