.container-f{
    min-height: auto;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.one-f{
    background-image: url('../../assets//logo-nav.jpg');
    height: 30vh;
    width: 30rem;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
}
.form{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vh;
    height: 50vh;
    text-align: center;
}
.form p{
    font-size: 2rem;
}
.form button{
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #bf0603;
    color: #ffffff;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin: 1rem;
   
}
.inputs input, textarea{
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
}
.inputs textarea{
    height: 5rem;
}
@media(min-width: 320px) and (max-width: 375px){
    .container-f{
        padding: 2rem;
    }
    form{
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 10vh;
        height: 50vh;
        text-align: center;
    }
    .form p{
        font-size: 2rem;
    }
    .form button{
        border: none;
        padding: 1rem;
        border-radius: 2rem;
        background-color: #bf0603;
        color: #ffffff;
    }
    .inputs{
        display: flex;
        flex-direction: column;
        margin: 1rem;
       
    }
    .inputs input, textarea{
        width: 15rem;
        height: 3rem;
        border: none;
        border-radius: 0.5rem;
    }

}