.container-f{
    min-height: 40vh;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    
}
.one-f{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-logo img{
    height: 20vh;
    width: 45vh;
}
.linkss{
    text-align: center;
}
.links-a{
    
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.links-a a{
    text-decoration: none;
    color: red;
}
.contacts{
    height: 30vh;
}
.infos{
    margin-top: 1rem;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}
.box{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}
.phone{
    height: 7vh;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.email{
    height: 7vh;
    display: flex;
    align-items: center;
    gap: 1rem;

}
.email a{
    text-decoration: none;
    color: red;
}
@media(min-width: 2000px) and (max-width: 2560px){
    .img-logo img{
        height: 30vh;
    }
    .linkss span{
        font-size: 2rem;
    }
    .links-a{
        height: 20rem;
        width: 20rem;
        margin-top: 2rem;
    }
    .links-a a{
        text-decoration: none;
        color: red;
        font-size: 2rem;
    }
    .box,
    .email,
    .contacts{
        font-size: 2rem;
    }
    .icon{
        width: 2.5rem;
    }
   
}
@media(min-width: 768px) and (max-width: 1024px){
    .container-f{
       
        display: flex;
       flex-direction: column;
       gap: 4rem;
    }
    .img-logo img{
        height: 40vh;
    }
   
}
@media(min-width: 491px) and (max-width: 768px){
    .container-f{
        flex-direction: column;
    }
    .one-f{
        width: 100%;
        text-align: center;
   
   }
    .img-logo img{
        height:25vh;
       
    }
    .infos{
        padding-left: 2rem;
       
     }
    .text-one{
        font-size: 1.2rem;
    }
}
@media(min-width: 425px) and (max-width: 491px){
    .one-f{
        width: 100%;
        
    }
    .img-logo img{
        height: 25vh;
    }
    .infos{
       padding-left: 2rem;
       gap: 2rem;
       justify-content: center;
       align-items: center;
    }
    .linkss span{
        font-size: 1.5rem;
    }
    .links-a a{
       font-size: 1.5rem;
       
    }
   .texxt{
        font-size: 1.3rem;
        text-align: center;
   }
   
}
@media(min-width: 375px) and (max-width: 425px){
    .one-f{
        width: 100%;
        
    }
    .img-logo img{
        height: 25vh;
    }
    .infos{
       padding-left: 2rem;
       gap: 2rem;
    }
    .linkss span{
        font-size: 1.3rem;
    }
    .links-a a{
       font-size: 1.3rem;
    }
   .texxt{
    font-size: 1.2rem;
   }
   
}
@media(min-width: 320px) and (max-width: 375px){
    .one-f{
        width: 100%;
    }
    .img-logo img{
        height: 25vh;
    }
    .infos{
        padding-left: 2rem;
         gap: 2rem;
         
     }
   
}


