.mission{
  
    background-position: center;
    background-size: cover;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
    margin-bottom: 7rem;
}
.card-m{
    padding-top: 3rem;
    background-color: #000000;
    color: #ffffff;
    width: 45vh;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.3);
    position: relative;
}
.missionn::after{
    content: 'Missão';
    position: absolute;
    top: -3rem;
    left: 35%;
    background-color: red;
    padding: 2rem;
    border-radius: 1rem;
}
.vision::after{
    content: 'Visão';
    position: absolute;
    top: -3rem;
    left: 35%;
    background-color: red;
    padding: 2rem;
    border-radius: 1rem;
}
.values::after{
    content: 'Valores';
    position: absolute;
    top: -3rem;
    left: 35%;
    background-color: red;
    padding: 2rem;
    border-radius: 1rem;
}
@media(min-width: 2000px) and (max-width: 2560px){
    .mission{
        gap: 8rem;
        margin-bottom: 7rem;
    }
    .card-m{
        padding-top: 6rem;
        width: 45vh;
        height: auto;
        font-size: 1.7rem;
    }
    .missionn::after{
        top: -3rem;
        left: 33%;
    }
    .vision::after{
        top: -3rem;
        left: 33%;
    }
    .values::after{
        top: -3rem;
        left: 32%;
    }
}
@media(min-width: 1440px) and (max-width: 2000px){
    .mission{
        gap: 8rem;
        margin-bottom: 7rem;
    }
    .card-m{
        width: 45vh;
        min-height: auto;
        font-size: 1rem;
        padding: 3rem;
    }
    .missionn::after{
        top: -3rem;
        left: 33%;
    }
    .vision::after{
        top: -3rem;
        left: 33%;
    }
    .values::after{
        top: -3rem;
        left: 32%;
    }
}
@media(min-width: 1024px) and (max-width: 1440px){
    .mission{
  
        gap: 8rem;
        margin-bottom: 7rem;
    }
    .card-m{
        width: 45vh;
        min-height: auto;
        font-size: 1rem;
        padding: 1rem;
    }
    .missionn::after{
        top: -3rem;
        left: 33%;
    }
    .vision::after{
        top: -3rem;
        left: 33%;
    }
    .values::after{
        top: -3rem;
        left: 32%;
    }
}
@media(min-width: 768px) and (max-width: 1024px){
    .mission{
  
        gap: 8rem;
        margin-bottom: 7rem;
    }
    .card-m{
        width: 45vh;
        min-height: auto;
        font-size: 1rem;
        padding: 1rem;
    }
    .missionn::after{
        top: -3rem;
        left: 33%;
    }
    .vision::after{
        top: -3rem;
        left: 33%;
    }
    .values::after{
        top: -3rem;
        left: 32%;
    }
}
@media(min-width: 425px) and (max-width: 768px){
    .mission{
  
        gap: 8rem;
        margin-bottom: 7rem;
    }
    .card-m{
        width: 45vh;
        min-height: auto;
    }
    .missionn::after{
        top: -3rem;
        left: 33%;
    }
    .vision::after{
        top: -3rem;
        left: 33%;
    }
    .values::after{
        top: -3rem;
        left: 32%;
    }
}
@media(min-width: 375px) and (max-width: 425px){
    .mission{
  
        gap: 8rem;
        margin-bottom: 7rem;
    }
    .card-m{
        width: 45vh;
        min-height: auto;
    }
    .missionn::after{
        top: -3rem;
        left: 33%;
    }
    .vision::after{
        top: -3rem;
        left: 33%;
    }
    .values::after{
        top: -3rem;
        left: 32%;
    }
}
@media(min-width: 320px) and (max-width: 375px){
    .mission{
  
        gap: 8rem;
        margin-bottom: 7rem;
    }
    .card-m{
        width: 45vh;
        min-height: auto;
    }
    .missionn::after{
        top: -3rem;
        left: 33%;
    }
    .vision::after{
        top: -3rem;
        left: 33%;
    }
    .values::after{
        top: -3rem;
        left: 32%;
    }
}