.about{
    min-height: auto;
    margin-top: 10rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}
.about-one{
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
}
.about-one h1 div{
    background-color: #d00000;
    display: inline-block; /* Ajusta automaticamente ao conteúdo */
    padding: 0.5rem; /* Adiciona algum espaçamento interno se necessário */
    border-radius: 2rem; 
    color: #ffffff;
}
.about-one h1{
    overflow: hidden;
}
.about-one span{
    color: #d00000;
    font-size: 2rem;
    overflow: hidden;
}
.about-two{
    background-image: url('../../assets/bus1.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    width:60%;
    margin-right: 5rem;
    position: relative; 
    border-radius: 2rem;
    overflow:  hidden;
}
.about-two::after{
    content: ''; /* Necessário para criar o pseudo-elemento */
    position: absolute;
    top: 10rem;            /* Controla a distância do topo */
    left: 25rem;           /* Controla a distância da esquerda */
    width: 30vh;          /* Controla a largura da sobreposição */
    height: 30vh;         /* Controla a altura da sobreposição */
    background-image: url('../../assets/seat1.jpg');
    background-position: center;
    background-size: cover;/* Cor de fundo semitransparente */
    border-radius: 2rem;
    z-index: 1;  
    border: 0.3rem solid #ffffff;
}
@media(min-width: 2000px) and (max-width:  2560px){
    .about{
        flex-direction: row;
        justify-content: center;
        min-width: 100%;
    }
    .about-one{
        align-items: center;
        text-align: center;
        min-height: 50vh;
        min-width: 40%;
    }
    .about-one h1{
        font-size: rem;
    }
    .about-one span{
        font-size: 1.5rem;
    }
    .about-two{
        height: 50vh;
        min-width:10%;
        position: relative; 
        border-radius: 2rem;
    }
    .about-two::after{
       display: none;
    }
}
@media(min-width: 1678px) {
    .about{
        flex-direction: row;
        justify-content: center;
        gap: 8rem;
    }
    .about-one{
        align-items: center;
        text-align: center;
        min-height: 50vh;
    }
    .about-one h1{
        font-size: 3rem;
    }
    .about-one span{
        font-size: 2rem;
    }
    .about-two{
        height: 50vh;
        width:150%;
        position: relative; 
        border-radius: 2rem;
    }
    .about-two::after{
        top: 7rem;
        left: 35rem;
    }
}
@media(min-width: 1440px) and (max-width: 1678px){
    .about{
        flex-direction: row;
        justify-content: center;
    }
    .about-one{
        align-items: center;
        text-align: center;
        min-height: 50vh;
    }
    .about-one h1{
        font-size: 2.8rem;
    }
    .about-one span{
        font-size: 1.5rem;
    }
    .about-two{
        height: 50vh;
        width:110%;
        position: relative; 
        border-radius: 2rem;
    }
    .about-two::after{
        top: 7rem;
        left: 35rem;
    }
}
@media(min-width: 1024px) and (max-width: 1440px){
    .about{
        flex-direction: row;
        justify-content: center;
    }
    .about-one{
        align-items: center;
        text-align: center;
        min-height: 50vh;
        margin-left: 1rem;
    }
    .about-one h1{
        font-size: 2.1rem;
    }
    .about-one span{
        font-size: 1.5rem;
    }
    .about-two{
        height: 50vh;
        width:110%;
        position: relative; 
        border-radius: 2rem;
    }
    .about-two::after{
        display: none;
    }
}
@media(min-width: 768px) and (max-width: 1024px){
    .about{
        flex-direction: row;
        justify-content: center;
        padding-left: 2rem;
    }
    .about-one{
        align-items: center;
        text-align: center;
        min-height: 50vh;
    }
    .about-one h1{
        font-size: 1.8rem;
    }
    .about-one span{
        font-size: 1.3rem;
    }
    .about-two{
        height: 50vh;
        width:150%;
        position: relative; 
        border-radius: 2rem;
        overflow: hidden;
    }
}
@media(min-width: 425px) and (max-width: 768px){
    .about{
        flex-direction: column;
        justify-content: center;
    }
    .about-one{
        align-items: center;
        text-align: center;
        min-height: 50vh;
    }
    .about-one h1{
        font-size: 2rem;
    }
    .about-one span{
        font-size: 1.5rem;
    }
    .about-two{
        height: 50vh;
        width:90%;
        margin-right: 5rem;
        position: relative; 
        border-radius: 2rem;
        overflow: hidden;
        margin-left: 1.5rem;
    }
    .about-two::after{
       overflow: hidden;
       left: 40rem;
    }
}
@media(min-width: 375px) and (max-width: 425px){
    .about{
        flex-direction: column;
        justify-content: center;
    }
    .about-one{
        align-items: center;
        text-align: center;
        min-height: 50vh;
    }
    .about-one h1{
        font-size: 2rem;
    }
    .about-one span{
        font-size: 1.5rem;
    }
    .about-two{
        height: 50vh;
        width:100%;
        margin-right: 5rem;
        position: relative; 
        border-radius: 2rem;
    }
    .about-two::after{
        top: 7rem;            /* Controla a distância do topo */
        left: 17rem;           /* Controla a distância da esquerda */
        width: 17vh;          /* Controla a largura da sobreposição */
        height: 27vh;         /* Controla a altura da sobreposição */
    }
}
@media(min-width: 320px) and (max-width: 375px){
    .about{
        flex-direction: column;
        justify-content: center;
    }
    .about-one{
        align-items: center;
        text-align: center;
        min-height: 50vh;
    }
    .about-one h1{
        font-size: 1.5rem;
    }
    .about-one span{
        font-size: 1rem;
    }
    .about-two{
        height: 50vh;
        width:100%;
        margin-right: 5rem;
        position: relative; 
        border-radius: 2rem;
    }
    .about-two::after{
        top: 5rem;            /* Controla a distância do topo */
        left: 15rem;           /* Controla a distância da esquerda */
        width: 17vh;          /* Controla a largura da sobreposição */
        height: 27vh;         /* Controla a altura da sobreposição */
    }
}
