.container-nav{
    min-height: auto;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    
}
.logo{
    background-image: url('../../assets/logo-nav.jpg');
    height: 10vh;
    width: 20rem;
    background-position: center;
    background-size: cover;
    background-color: #bf0603;
}
.links{
    display: flex;
    align-items: center;
    width: 30rem;
    justify-content: space-evenly;
}
.links a{
    text-decoration: none;
    color: #ffffff;
} button{
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    width: auto;
    background-color: #bf0603;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 1rem;
}
button .whats{
    width: 2rem;
}
@media(min-width: 1840px){
    .container-nav{
        min-height: 20vh;
        background-color: #000000;
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }
    .links{
        display: flex;
        align-items: center;
        width: 40%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        justify-content: space-evenly; 
    }
    .links a{
        font-size: 1.9rem;
    }
    .logo{
        
        height: 15vh;
        width: 35rem; 
    }
    button{
        padding: 1rem;
        font-size: 2rem;
    }
    button .whats{
        width: 3rem;
    }
    
}
@media(min-width: 1440px) and (max-width: 1840px){
    .container-nav{
        min-height: 20vh;
        background-color: #000000;
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }
    .links{
        display: flex;
        align-items: center;
        width: 40%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        justify-content: space-evenly; 
    }
    .links a{
        font-size: 1.6rem;
    }
    .logo{
        
        height: 15vh;
        width: 25rem; 
    }
    button{
        padding: 1rem;
        font-size: 1.5rem;
    }
    button .whats{
        width: 2rem;
    }
    
}
@media(min-width: 1245px) and (max-width: 1440px){
    .container-nav{
        min-height: 20vh;
        background-color: #000000;
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }
    .links{
        display: flex;
        align-items: center;
        width: 40%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        justify-content: space-evenly; 
    }
    .links a{
        font-size: 1.5rem;
    }
    
}
@media(min-width: 1024px) and (max-width: 1245px){
    .container-nav{
        min-height: 20vh;
        background-color: #000000;
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }
    .links{
        display: flex;
        align-items: center;
        width: 40%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        justify-content: space-evenly; 
    }
    .links a{
        font-size: 1.2rem;
    }
    
}
@media(min-width: 768px) and (max-width: 1024px){
    .container-nav{
        min-height: 20vh;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .links{
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem; 
    }
    
    
}
@media(min-width: 425px) and (max-width: 768px){
    .container-nav{
        min-height: 20vh;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .links{
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: space-evenly;
        flex-direction: column;
        font-size: 1.4rem;
    }
   
}

@media(min-width: 375px) and (max-width: 425px){
    .container-nav{
        min-height: 20vh;
        background-color: #000000;
        display: flex;
        flex-direction: column;
    }
    .links{
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: space-evenly;

    }
    
}

@media(min-width: 320px) and (max-width: 375px){
    .container-nav{
        min-height: 20vh;
        background-color: #000000;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center; 
    }
    .links{
        display: flex;
        align-items: center;
        width: 19rem;
        margin: 01rem;
        flex-direction: column;
        justify-content: space-evenly;

    }
    
}

